[user]
	name = Lachlan McCalman\n
	email = lachlan.mccalman@nicta.com.au
[diff]
  tool = meld
[merge]
tool = mymeld
conflictstyle = diff3
[mergetool "mymeld"]
cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[difftool]
  tool = meld
[push]
  #default = simple
[push]
	default = simple
