[user]
	name = Lachlan McCalman
	email = lachlan.mccalman@data61.csiro.au

[diff]
    tool = vimdiff

[merge]
	tool = vimdiff
    conflictstyle = diff3

[difftool]
    path = nvim
    prompt = false

[push]
	default = simple
[github]
	user = lmccalman
[ghi]
	token = 7b1525dc675163786cc1736b83c1aedc178475db
[mergetool]
	path = nvim
    prompt = false
