Xft*autohint: 0
Xft*lcdfilter:  lcddefault
Xft*hintstyle:  hintfull
Xft*hinting: 1
Xft*antialias: 1
Xft*dpi: 96
Xft*rgba: rgb

Xcursor.theme: oxy-terra
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.perl-ext:   default,url-select,vtwheel,clipboard
URxvt.keysym.C-i: perl:url-select:select_next

URxvt.url-select.launcher:  /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.scrollBar: false
/* URxvt.font: xft:Inconsolata:Medium:size=13,xft:Terminus */
/* URxvt.boldFont: xft:Inconsolata:Medium:size=13,xft:Terminus */
URxvt.font: xft:Anonymous\ Pro\ Minus:Regular:size=13,xft:Terminus
URxvt.boldFont: xft:Anonymous\ Pro\ Minus:Bold:size=13,xft:Terminus
/* URxvt.letterSpace: -1 */
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot,None
URxvt.depth: 32
URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/konsole.svg

*background: [90]#151515
*foreground: #888888
! black
*color0: #1C1C1C
*color8: #404040
! red
*color1: #B85335
*color9: #CF6A4C
! green
*color2: #799D6A
*color10: #99AD6A
! yellow
*color3: #FFB964
*color11: #FAD07A
! blue
*color4: #667899
*color12: #8197BF
! magenta
*color5: #8787AF
*color13: #C6B6EE
! cyan
*color6: #668799
*color14: #8FBFDC
! white
*color7: #888888
*color15: #E8E8D3
