

Xcursor.theme: oxy-terra

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.perl-ext:   default,url-select,vtwheel,clipboard,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.C-i: perl:url-select:select_next
URxvt.altSendsEscape: true

URxvt.url-select.launcher:  /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.scrollBar: false
URxvt.font: xft:Anonymous\ Pro:Regular:size=24,xft:Terminus
URxvt.boldFont: xft:Anonymous\ Pro:Bold:size=24,xft:Terminus
/* URxvt.letterSpace: -1 */
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot,None
URxvt.depth: 32
URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/konsole.svg

rofi.background: #151515
rofi.foreground: #E8E8D3
rofi.highlightbg: #404040
rofi.highlightfg: #FFB964
rofi.bordercolor: #99AD6A
rofi.font: Anonymous\ Pro 24
rofi.padding: 3
rofi.lines: 5
rofi.borderwidth: 3

URxvt*background: #151515
URxvt*foreground: #888888
! black
URxvt*color0: #1C1C1C
URxvt*color8: #404040
! red
URxvt*color1: #B85335
URxvt*color9: #CF6A4C
! green
URxvt*color2: #799D6A
URxvt*color10: #99AD6A
! yellow
URxvt*color3: #FFB964
URxvt*color11: #FAD07A
! blue
URxvt*color4: #667899
URxvt*color12: #8197BF
! magenta
URxvt*color5: #8787AF
URxvt*color13: #C6B6EE
! cyan
URxvt*color6: #668799
URxvt*color14: #8FBFDC
! white
URxvt*color7: #888888
URxvt*color15: #E8E8D3

