snippet # "Header tag" b
#!/usr/bin/env python2

"""
.. module::$1
:platform: GNU/Linux
:synopsis: $2 

.. moduleauthor::Lachlan McCalman <lachlan.mccalman@nicta.com.au>
"""
#Built-in Imports

#3rd-party Imports

#Project Imports


def main():
  pass

if __name__ == "__main__":
  main()
endsnippet
